# Backend
MONGO_URL=
DB_NAME=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=
APPLE_CLIENT_ID=
ADMIN_EMAILS=

# Frontend
REACT_APP_BACKEND_URL=
REACT_APP_APPLE_CLIENT_ID=
REACT_APP_APPLE_REDIRECT_URI=
